@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-color: rgba(255, 255, 255, 0.3) #1e1e1e;
}

body {
  background-color: #1e1e1e;
}

.hover-drop-shadow {
  transition: 0.2s;
}

.hover-drop-shadow:hover {
  filter: drop-shadow(2px 2px 10px lightblue);
}
